
ScratchCard/ScratchCard.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ScratchCard/ScratchCard.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ScratchCard/ScratchCard.xcodeproj/project.xcworkspace/xcuserdata/adso0001.xcuserdatad/UserInterfaceState.xcuserstate
ScratchCard/ScratchCard.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcschemes/xcschememanagement.plist
ScratchCard/ScratchCard.xcodeproj/xcuserdata/adso0001.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
